# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List commonly used free Data Science development environments
- Get familiar with arithmetic operations in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

| Data | Science | Tools |
|---|---|---|
| Jupyter Notebooks | Anaconda | R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
round(200/60,2)

3.33

## Author:
Ivan Chufarov